<div id="addBillModal" class="modal fade" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{billId > 0 ? 'Edit Bill ' + title : 'Add New Bill'}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-control-label">Title:</label>
                        <input name="title" type="text" class="form-control" [(ngModel)]="title" id="title">
                    </div>
                    <div class="form-group">
                        <label for="payerId" class="form-control-label">Payed By:</label>

                        <select name="payerIdNum" [(ngModel)]="payerId">
                            <option *ngFor="let user of users" [value]="user.userId">
                                {{user.userName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">

                        <label for="category" class="form-control-label">Category:</label>
                        <select name="category" [(ngModel)]="humanCategory">
                            <option *ngFor="let _category of categories" [value]="_category">
                                {{_category}}
                            </option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="amount" class="form-control-label">Amount:</label>

                        <input name="amount" type="number" class="form-control" min="1" id="amount" [(ngModel)]="amount">

                    </div>
                    <div class="form-group">
                        <label for="date" class="form-control-label">Date:</label>

                        <input name="date" type="date" class="form-control" id="date" placeholder="yyyy-MM-dd" [(ngModel)]="humanDate">

                    </div>

                    <div class="form-group">
                        <label for="additionalInfo" class="form-control-label">Additional Information:</label>
                        <input name="additionalInfo" type="text" class="form-control" id="additionalInfo" [(ngModel)]="additionalInfo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="addOrUpdateBill()">{{billId > 0 ? 'Edit': 'Add'}}</button>
                <button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>  